.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  box-shadow: 0 0 8px lightblue;
}
.input {
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 4px gray;
}
.label {
  display: flex;
  flex-direction: columnf;
  gap: 20px;
  & span {
    font-weight: bold;
  }
}
